@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
  box-sizing: border-box;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('https://i.pinimg.com/736x/cb/66/96/cb6696d40b2cd102bf5f11c0355d9e2e.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.pos-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.score-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  max-width: 800px;
  min-width: 700px;
  padding: 16px 20px;
  font-size: 22px;
  border-radius: 12px;
  background-color: rgba(128, 212, 247, 0.6);
}

.score-timer {
  position: absolute;
  left: 22px;
}

.score-num {
  display: flex;
}

.score-box span {
  padding: 0 12px;
}

.reset-btn {
  position: absolute;
  right: 20px;
  font-size: 18px;
  color: red;
  transition: color 300ms ease-in-out;
}

.reset-btn:hover {
  color: rgb(213, 0, 0);
}

.main-box {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 800px;
  min-width: 700px;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% / 2) - 10px);
  height: 460px;
  padding: 30px;
  text-align: center;
  border-radius: 22px;
  background-color: rgba(128, 212, 247, 0.6);
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.304);
}

.box.win {
  background-color: rgba(89, 255, 145, 0.5);
}

.box.lose {
  background-color: rgba(255, 124, 124, 0.5);
}

.box.tie {
  background-color: rgba(255, 255, 255, .6);
}

.box img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.choice-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.choice-btn button {
  transition: transform 300ms ease-in-out;
}

.choice-btn button:hover {
  transform: scale(1.1);
}

.choice-btn img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


@media screen and (max-width : 768px) {
  .score-box {
    width: 90%;
    min-width: 300px;
  }

  .reset-btn {
    right: 12px;
  }

  .main-box {
    width: 90%;
    min-width: 300px;
  }

  .box {
    height: 400px;
  }

  .box h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .box img {
    width: 68%;
    height: 240px;
    margin: 0 auto;
  }

  .choice-btn img {
    width: 50px;
    height: 50px;
  }
}
