.home-wrapper {
  width: 100%;
  height: 100vh;
  margin-top: -$gnb-height-lg;
  background-image: url(../../assets/images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
