@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
  box-sizing: border-box;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url('https://i.pinimg.com/736x/cb/66/96/cb6696d40b2cd102bf5f11c0355d9e2e.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
}

.main {
  display: flex;
}

.box {
  width: 400px;
  height: 460px;
  border: 2px solid #000;
  border-radius: 22px;
  text-align: center;
  background-color: rgba(255, 255, 255, .6);
}

.box:nth-child(1) {
  margin-right: 20px;
}

.box img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.choice-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.choice-btn button {
  border: none;
  background-color: transparent;
  transition: transform 300ms ease-in-out;
}

.choice-btn button:hover {
  transform: scale(1.1);
}

.choice-btn img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
