* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.game-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 600px;
  background-image: url('https://w7.pngwing.com/pngs/989/35/png-transparent-white-handheld-console-iphone-7-plus-game-boy-color-iphone-6-computer-icons-icon-size-gameboy-miscellaneous-gadget-electronic-device-thumbnail.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 90px;
  overflow: hidden;
}

.game-box > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.count {
  position: absolute;
  top: 25%;
  left: 51%;
  transform: translateX(-50%);
}

.btn {
  position: absolute;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.plus-btn {
  bottom: 155px;
  right: 90px;
  background-image: url(./assets/images/plus.png);
}

.minus-btn {
  bottom: 180px;
  right: 30px;
  background-image: url(./assets/images/minus.png);
}
