@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

html, body {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* body {
  background-image: url('./components/assets/images/back.png');
  background-repeat: no-repeat;  
  background-position: center;
  background-size: cover;
} */

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.textcontainer {
  width: 1018px;
  height: 120px;
  border-radius: 4px;
  color: #fff;
  background-color: #202124;
}

.textcontainer pre {
  height: 100%;
  margin: 0;
  padding: 20px;
  overflow-y: scroll;
  font-size: 22px;
}

.textcontainer pre::-webkit-scrollbar {
  height: 100%;
}

.keyboardcontainer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  padding: 20px 20px;
  border-radius: 7px;
  background: #202124;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #445760;
  transition: background-color ease-in-out 0.15s;
}

.key:hover {
  background-color: #3c4d56;
}

.row:first-child .key:first-child {
  width: 40px;
}

.row:first-child .key:last-child {
  width: 80px;
}

.row:nth-child(3) .key:first-child {
  width: 95px;
}

.row:nth-child(3) .key:last-child {
  width: 95px;
}

.row:nth-child(4) .key:first-child{
  width: 130px;
}

.row:nth-child(4) .key:last-child {
  width: 130px;
}

.row:nth-child(5) .key:nth-child(3){
  width: 550px;
}

.reset-btn {
  width: 100px;
  height: 40px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;;
  background-color: rgb(228, 0, 0);
}