* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper.clear {
  background-image: url('https://img.freepik.com/premium-photo/blue-sky-background-with-clouds-clouds-clear-day_522160-1095.jpg');
}

.wrapper.clear .weather-icon {
  background-image: url(./assets/icons/clear.svg);
}

.wrapper.clouds {
  background-image: url('https://st4.depositphotos.com/3141125/20534/i/450/depositphotos_205343696-stock-photo-clouds-background-dramatic-grey-clouds.jpg');
}

.wrapper.clouds .weather-icon {
  background-image: url(./assets/icons/clouds.svg);
}

.wrapper.rain {
  background-image: url('https://cdn.wallpapersafari.com/11/43/VX6CGm.jpg');
}

.wrapper.rain .weather-icon {
  background-image: url(./assets/icons/rain.svg);
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.box {
  width: 50%;
  max-width: 480px;
  min-width: 320px;
  border-radius: 6px;
}

.box:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  padding: 60px 40px;
  background: linear-gradient(180deg, rgba(134, 134, 134, 0.5) 0%, rgba(181,181,181, .5) 47%, rgba(214, 214, 214, 0.5) 100%);
}

.weather-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.temp {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
}

.temp span {
  padding: 0 8px;
}

.weather-txt {
  font-size: 22px;
}

.box:last-child {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  padding: 12px 0;
  background-color: rgba(194, 194, 194, 0.5);
}

.humid {
  position: relative;
  flex-grow: 1;
}

.humid::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 80%;
  background-color: #e6e6e6;
}

.wind {
  flex-grow: 1;
}

.humid p:first-child, .wind p:first-child {
  font-size: 22px;
}


